In [ ]:
#import our libraries
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('walmartdata.csv', delimiter=';',quotechar='"')

print(df.head)

<bound method NDFrame.head of     invoice_id;"branch";"city";"customer_type";"gender";"product_line";"unit_price";"quantity";"vat";"total";"dtme";"tme";"payment_method";"cogs";"gross_margin_pct";"gross_income";"rating";"time_of_day";"day_name";"month_name"
0    750-67-8428;"A";"Yangon";"Member";"Female";"He...
1    226-31-3081;"C";"Naypyitaw";"Normal";"Female";...
2    631-41-3108;"A";"Yangon";"Normal";"Male";"Home...
3    123-19-1176;"A";"Yangon";"Member";"Male";"Heal...
4    373-73-7910;"A";"Yangon";"Normal";"Male";"Spor...
..                                                 ...
995  233-67-5758;"C";"Naypyitaw";"Normal";"Male";"H...
996  303-96-2227;"B";"Mandalay";"Normal";"Female";"...
997  727-02-1313;"A";"Yangon";"Member";"Male";"Food...
998  347-56-2442;"A";"Yangon";"Normal";"Male";"Home...
999  849-09-3807;"A";"Yangon";"Member";"Female";"Fa...

[1000 rows x 1 columns]>

In [3]:
print(df.columns)

Index(['invoice_id;"branch";"city";"customer_type";"gender";"product_line";"unit_price";"quantity";"vat";"total";"dtme";"tme";"payment_method";"cogs";"gross_margin_pct";"gross_income";"rating";"time_of_day";"day_name";"month_name"'], dtype='object')

In [2]:
if 'customer_type' in df.columns:
    #Create the bar plot
    plt.figure(figsize=(10,6))
    #Grouping data by 'customer_type' and summing their totals at the end
    df.groupby('customer_type')['total'].sum().plot(kind='bar', color='skyblue')
    #add titles and labels
    plt.title('Total Sales by Customer Type')
    plt.xlabel('Customer Type')
    plt.ylabel('Total Sales')
    plt.show()
else:
    print("Column 'customer_type' not found in the data.")

Column 'customer_type' not found in the data.